{
    "presets": [
        "@babel/typescript"
    ],
    "plugins": [
        [
            "@babel/proposal-class-properties",
            {
                "loose": true
            }
        ],
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-transform-regenerator",
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": false,
                "helpers": true,
                "regenerator": true,
                "useESModules": true
            }
        ]
    ]
}